.git/
.vs/
.vscode/
**/.git/
**/bin/
**/obj/
**/venv/
**/__pycache__/
**/*.py[cod]
installer-output/
**/publish/
*.user
*.suo
*.log
*.db-shm
*.db-wal
*.log
staticfiles/
config/db.sqlite3
config/db.sqlite3-shm
config/db.sqlite3-wal
config/loraApi/runtime_state.json
.env
